button {
    display: block;
    margin-left: 45rem;
    margin-top: 1rem;
}

label {
    display: block;
    margin: 1rem;
    input {
        margin-left: 0.5rem;
    }
}

ul {
    list-style: none;
}